.menu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(https://phonoteka.org/uploads/posts/2022-02/1645352679_1-phonoteka-org-p-foni-stim-priroda-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}