@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.cart {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.list {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include phone {
        padding: 0px 5px;
    }
}
.searchInfo{
  margin: 10px 0px;
}
.value{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.info {
    margin-bottom: 10px;
    display: flex;
}

.item {
    user-select: none;
    border-top: 1px solid rgba(170, 170, 170, 0.425);
    padding: 20px;
    position: relative;
    z-index: 0;
}



.loading {
    text-align: center;
    font-size: 22px;
    color: $color-blak;
    padding: 10px;
}

.buyWrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

    @include flexible(600px) {
        padding: 10px 30px;
    }

    @include phone() {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
}

.actions {
    border: 1px solid $color-green;
    padding: 20px 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    @include flexible(600px) {
        padding: 10px 20px;
    }
}

.text {
    font-size: 21px;
    color: $color-blak;
    transition: .2s;
    font-weight: 600;
    text-decoration: none;
    padding-right: 10px;

    &:hover {
        color: $color-red;
    }
}

.btn {
    background-color: $color-green;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 15px;
    transition: .2s;

    &:hover {
        background-color: $color-green-hover;
    }

    &:active {
        font-size: 18.5px;
    }

    @include flexible(600px) {
        padding: 10px 15px;
    }
}

.totalPrice {
    font-size: 22px;
    font-weight: 600;
    color: $color-blak;
}
.actionsCart{
    max-width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.actionsCartText{
    font-size: 20px;
    color: $color-blak;
    font-weight: 500;
    transition: .2s;
    &:hover{
        color: $color-red;
    }
}
