$bg-header: #161b22;
$hover-actions: #202b3a;
$color-blak: #221f1f;
$color-text: #fff;
$sidebar-img: #adb8c8;
$cart-img: rgb(136, 136, 136);
$cart-img-active: rgb(0, 94, 218);
$sidebar-text: #3e77aa;
$color-green: #00a046;
$color-green-hover: #0eaa52;
$border-color: rgba(178, 183, 255, 0.425);
$sidebar-text-hover: rgb(214, 101, 93);
$color-red: #f84147;