@import '../../styles/variables.scss';

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.wrap {
    padding: 0px 15px;
}

.text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 5px;
}

.iconWrap {
    text-align: center;
}

.icon {
    align-items: center;
    background-color: transparent;
    border: none;
    transition: .2s;
    padding: 10px 13px;

    &:hover {
        background-color: rgb(232, 240, 254);
        border-radius: 50%;
    }
}